In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [14]:
df = next(df_iter)

In [15]:
len(df)

100000

In [16]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

1000

In [17]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [18]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 3.19 s
Wall time: 9.37 s

1000

In [19]:
from time import time

In [20]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' % (t_end-t_start))

inserted another chunk..., took 10.957 second
inserted another chunk..., took 10.728 second
inserted another chunk..., took 11.188 second
inserted another chunk..., took 13.551 second
inserted another chunk..., took 20.369 second
inserted another chunk..., took 20.657 second
inserted another chunk..., took 16.146 second
inserted another chunk..., took 11.696 second
inserted another chunk..., took 12.322 second
inserted another chunk..., took 13.176 second
inserted another chunk..., took 12.660 second

C:\Users\daoth\AppData\Local\Temp\ipykernel_1684\3598859684.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 12.253 second
inserted another chunk..., took 7.703 second

StopIteration:

In [23]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [24]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [26]:
df_zones.head(10)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

In [27]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1300000,NaN,2021-01-05 10:38:40,2021-01-05 10:46:20,NaN,1.30,NaN,NaN,170,161,NaN,7.00,0.0,0.5,1.03,0.00,0.3,11.33,2.5
1300001,NaN,2021-01-05 10:17:14,2021-01-05 10:41:21,NaN,7.90,NaN,NaN,216,198,NaN,31.49,0.0,0.5,2.75,0.00,0.3,35.04,0.0
1300002,NaN,2021-01-05 10:39:00,2021-01-05 10:46:00,NaN,0.98,NaN,NaN,62,62,NaN,16.23,0.0,0.5,2.75,0.00,0.3,19.78,0.0
1300003,NaN,2021-01-05 10:05:00,2021-01-05 10:19:00,NaN,1.59,NaN,NaN,85,71,NaN,13.45,0.0,0.5,2.75,0.00,0.3,17.00,0.0
1300004,NaN,2021-01-05 10:18:08,2021-01-05 10:41:40,NaN,9.87,NaN,NaN,236,208,NaN,30.23,0.0,0.5,2.75,6.12,0.3,39.90,0.0